@font-face {
  font-family: "Lato";
  src: url('/local/assets/fonts/lato.heavy.woff2') format("woff2");
}

*{
  box-sizing: border-box;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 999;
  left: 0;
  top: 100%;
  right: 0;
  width: 100%;
  max-height: 200px;
  padding: 15px;
  background-color: #202022;
  overflow-y: auto;
}

.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  color: #FFF0EB;
  background-color: #323135;
  user-select: none;
  cursor: pointer;
}

.entry:hover {
  background-color: #46454A;
}

.entry:active {
  background-color: rgba(70, 69, 74, 0.5);
}

.input-wrapper{
  position: relative;
  width: 100%;
}

.input-wrapper input{
  padding: 5px;
  width: 100%;
}

.homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 100px;
  min-height: 100px;
}

.button{
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  padding: 5px;
  background-color: #323135;
  transition: scale 0.2s ease;
}

.button:hover{
  opacity: 80%;
}

.button:active{
  scale: 0.9;
}

.settingsButton{
  right: 0;
}

.updateButton{
  left: 0;
}

.button img{
  width: 100%;
  height: 100%;
}

.homepage:hover{
  opacity: 50%;
}

.homepage:hover .button{
  display: block;
}

.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 100%;
}

.infoHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoHeader .collectLabel{
  font-size: 1.2em;
}

.infoHeader .dateLabel{
  font-size: 1.5em;
  font-weight: bold;
}

.collections{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.collectionItem{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 32px;
  color: #FFF0EB;
  border-radius: 9999px;
  padding: 0 5px;
  gap: 5px;
  font-size: 11px;
}

.collectionItem img{
  height: 22px;
  border-radius: 50%;
  box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.collectionItem p{
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 1em;
  line-height: 1.2em;
  letter-spacing: .08em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: fit-content;
  padding: 0 5px;
  text-shadow: 1px 1px 4px black;
}